<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
   <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.cab.controller.LoginController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    
       <servlet>
        <servlet-name>AdminLoginController</servlet-name>
        <servlet-class>com.cab.controller.AdminLoginController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AdminLoginController</servlet-name>
        <url-pattern>/AdminLoginController</url-pattern>
    </servlet-mapping>
    
           <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.cab.controller.RegisterController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    
               <servlet>
        <servlet-name>DriverRegisterController</servlet-name>
        <servlet-class>com.cab.controller.DriverRegisterController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DriverRegisterController</servlet-name>
        <url-pattern>/DriverRegisterController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DriverLoginController</servlet-name>
        <servlet-class>com.cab.controller.DriverLoginController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DriverLoginController</servlet-name>
        <url-pattern>/DriverLoginController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateAvailabilityController</servlet-name>
        <servlet-class>com.cab.controller.UpdateAvailabilityController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UpdateAvailabilityController</servlet-name>
        <url-pattern>/UpdateAvailabilityController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateLocationController</servlet-name>
        <servlet-class>com.cab.controller.UpdateLocationController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UpdateLocationController</servlet-name>
        <url-pattern>/UpdateLocationController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EditDriverController</servlet-name>
        <servlet-class>com.cab.controller.EditDriverController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>EditDriverController</servlet-name>
        <url-pattern>/EditDriverController</url-pattern>
    </servlet-mapping>
    
    
    
    



</web-app>